.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.spinner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small {
  width: 32px;
  height: 32px;
}

.medium {
  width: 48px;
  height: 48px;
}

.large {
  width: 64px;
  height: 64px;
}

.ring {
  position: absolute;
  border: 3px solid transparent;
  border-top-color: #ffc907;
  border-radius: 50%;
  animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.small .ring {
  width: 32px;
  height: 32px;
  border-width: 2px;
}

.medium .ring {
  width: 48px;
  height: 48px;
  border-width: 3px;
}

.large .ring {
  width: 64px;
  height: 64px;
  border-width: 4px;
}

.ring:nth-child(1) {
  animation-delay: -0.45s;
}

.ring:nth-child(2) {
  animation-delay: -0.3s;
  opacity: 0.8;
  transform: scale(0.85);
}

.ring:nth-child(3) {
  animation-delay: -0.15s;
  opacity: 0.6;
  transform: scale(0.7);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.message {
  margin-top: 16px;
  color: #6b7280;
  font-size: 14px;
  text-align: center;
}
